aiogram==3.3.0
alembic==1.13.1
asgiref==3.7.2
async-timeout==4.0.3
asyncpg==0.29.0
asynctest~=0.13.0
databases~=0.9.0
gigachain~=0.2.14
gigachain==0.2.14
gigachain-community==0.2.12
gigachain-core==0.2.35.post2
gigachain-text-splitters==0.2.3

packaging~=23.2
psycopg2-binary==2.9.9
pycbrf==1.1.0
pydantic~=2.5.3
pytest-asyncio==0.23.4
pytest>=7.0.0
python-dotenv==1.0.0
redis==5.0.3
reportlab==4.2.0
requests~=2.31.0
ruff==0.4.5
SQLAlchemy==2.0.30
urllib3~=2.0.7